<footer class="footer-section">
  <div class="container">
    <div class="footer-content">
      <!-- Informações de Contato -->
      <div class="footer-section contact">
        <h3>Contato</h3>
        <p>
          Email:
          <a href="mailto:fernando_costa@ufms.br">fernando_costa&#64;ufms.br</a>
        </p>
        <p>
          Telefone: <a href="tel:+55 (67)99234-4495">+55 (67) 99234-4495</a>
        </p>
      </div>
      <!-- Navegação Rápida -->
      <div class="footer-section navigation">
        <h3>Navegação</h3>
        <ul>
          <li><a href="#sobre-mim">Sobre Mim</a></li>
          <li>
            <a href="#ferramentas">Ferramentas</a>
          </li>
          <li><a href="#projetos">Projetos</a></li>
          <li>
            <a href="#habilidades">Habilidades</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Seu Nome. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
